header{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: left;
    background-color: #86C5D8;
    padding-left: 1%;
    white-space: nowrap;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    padding-top:3vh;
    margin:0;
}
menu{
    display: flex;
    list-style-type: none;
    padding:0;
    gap: 10px;
}
.button1, .button2{
    color:black;
    background-color: #b1d3dd;
}
.button1 a, .button2 a, .button3 a{
    text-decoration: none;
    color:black;
}
.button1:hover, .button2:hover, .button3:hover{
    background-color: #9dd0df;
}
main{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CAE9F5;
    min-height: 65vh;
    white-space: nowrap;
    font-size: 4vh;
    padding:10px;
    max-height: 80vh;
}
.listOfPlayers{
    display: flex;
    flex-direction: column;
    
    border: 1px solid rgb(0, 0, 0);
    background-color: #86C5D8;
    width: 50vw;
    margin:5px;
    padding:0px;
    max-width: 500px;
    min-width: 220px;
    max-height: 60%;
}
.listOfPlayers li{
    display:grid;
    flex-direction: column;
    list-style-type: none;
    margin:1px;
    padding:1px;
    gap: 1px;
}
.listOfPlayers ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    list-style-type: none;
    padding: 10;
}
.removeButton{
    color:black;
    background-color: #ffffff;
    max-width: 100px;
}
.button3{
    color:black;
    background-color: #ffffff;
    padding: 15px;
}
#inputBox{
    min-width: 120px;
    width:10vw;
    height: 6vh;
    font-size: 3vh;
}
h2{
    padding:10px;
    margin:0;
}
#addPlayerButton{
    height:6vh;
    width:10vw;
    min-width: 80px;
    font-size: 2vh;
}