
h1{
    padding-top:3vh;
    margin:0;
}
menu{
    display: flex;
    list-style-type: none;
    padding:0;
    gap: 10px;
}
.button1, .button2{
    color:black;
    background-color: #b1d3dd;
}
.button1 a, .button2 a, .button3 a{
    text-decoration: none;
    color:black;
}
.button1:hover, .button2:hover, .button3:hover{
    background-color: #9dd0df;
}
main{
    font-family: "Tomorrow", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CAE9F5;
    min-height: 65vh;
    white-space: nowrap;
    font-size: 2vh;
    padding:10px;
    max-height: 80vh;
}

.button3{
    color:black;
    background-color: #ffffff;
    padding: 15px;
}
#inputBox{
    min-width: 140px;
    width:10vw;
    height: 6vh;
    font-size: 2vh;
}
h2{
    padding:10px;
    margin:0;
}
#addPlayerButton{
    height:6vh;
    width:10vw;
    min-width: 130px;
    font-size: 2vh;
}
.popup-content{
    margin: 10px;
}