
.gamearea{
    display: flex;
    flex-direction: row;
    padding: 5px;
    font-family: "Tomorrow", sans-serif;
    border: 1px solid black;
    height: 70vh;
}
.addPlayerArea{
    display: flex;
    flex-direction: column;
}
/*this is the whole player list area*/
.scoreboard {

    flex: 1;
    background-color:#CAE9F5;
    justify-content:  center;
    padding-right: 5px;
    border: 1px solid black;
    padding-left: 5px;
    font-size: 3vh;
}

#roll{
    justify-content: center;
    align-content: center;
    padding: 10px;
    width: 20%;
}
.gameplay {
    display: flex;
    flex: 3;
    flex-direction: column;
    background-color:#F0F8FF;
    justify-content: center;
    align-items: center;
}
#imageContainer{
    flex: 0 80px;
    justify-content: center;
    height: 40%;
    width: 40%;
}
.score{
    flex: 0 30px;
    justify-content: center;
    font-size: 4vh;
}
.playerList{
    align-content: left;
    justify-content: top;
    font-size: 75%;
    margin: 0;
    padding: 1.2em;
}
.popup-container{
    border: 1px solid black;
    background-color: #86C5D8;
}
.popup-content{
    display: grid;
    place-items: center;
    text-align: center;
    padding: 1px;
}
.listOfPlayers{
    display: flex;
    flex-direction: column;
    
    border: 1px solid rgb(0, 0, 0);
    background-color: #86C5D8;
    width: 50vw;
    margin:5px;
    padding:0px;
    max-width: 500px;
    min-width: 210px;
    min-height: 75%;
}
.listOfPlayers li{
    display:grid;
    flex-direction: column;
    list-style-type: none;
    margin:1px;
    padding:1px;
    gap: 1px;
}
.listOfPlayers ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    list-style-type: none;
    padding: 10;
}
.removeButton{
    color:black;
    background-color: #ffffff;
    max-width: 100px;
}
.button3{
    color:black;
    background-color: #ffffff;
    padding: 15px;
}
#inputBox{
    min-width: 140px;
    width:10vw;
    height: 6vh;
    font-size: 2vh;
    z-index:99999;
}
h2{
    padding:10px;
    margin:0;
    font-size: 2vh;
}
#addPlayerButton{
    height:6vh;
    width:10vw;
    min-width: 130px;
    font-size: 2vh;
}
