header{
    background-color: #86C5D8;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

.gamearea{
    display: flex;
    flex-direction: row;
    padding: 5px;
}
/*this is the whole player list area*/
.scoreboard {

    flex: 1;
    background-color:#CAE9F5;
    justify-content:  center;
    padding-right: 5px;
    border: 1px solid black;
    padding-left: 5px;
    font-size: 3vh;
}

#roll{
    justify-content: center;
    align-content: center;
    padding: 10px;
    width: 20%;
}
.gameplay {
    display: flex;
    flex: 3;
    flex-direction: column;
    background-color:#F0F8FF;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
#imageContainer{
    flex: 0 80px;
    justify-content: center;
    height: 40%;
    width: 40%;
}
.score{
    flex: 0 30px;
    justify-content: center;
    font-size: 4vh;
}
.playerList{
    align-content: left;
    justify-content: top;
    font-size: 75%;
    margin: 0;
    padding: 1.2em;
}
.popup-container{
    border: 1px solid black;
    background-color: #86C5D8;
}
.popup-content{
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 1px;
}
