
h1{
    padding-top:3vh;
    margin:0;
}
.button1, .button2{
    color:black;
    background-color: #b1d3dd;
}
.button1 a, .button2 a{
    text-decoration: none;
    color:black;
}
menu{
    display: flex;
    list-style-type: none;
    padding:0;
    gap: 10px;
}
main{
    min-height: 70vh;
    border: 1px solid black;
    background-color:#CAE9F5;
    display: flex;
    align-items: top;
    justify-content: center;
    font-family: "Tomorrow", sans-serif;
}
.scoreContainer{
    
    margin: 5px;
    padding: 5px;
    justify-content: top;
    min-width: 170px;
    width:30vw;
    height:50vh;
    font-size: 3.5vw;
    
}
.scoreBoard{
    margin:0;
    padding:5px;
    list-style-type: none;
    border: 1px solid black;
    font-size: 3.4vw;
}